<div class="team text-center">
  <div class="heading">
    <h3>Robotics Live Forum</h3>
  </div>
  <div class="links">

      <button class="arts aarrtt" value="aarrtt" (click)="chback($event)">Digital<br> Art</button>


      <button class="robitics rroobb" value="rroobb" (click)="chback($event)">Robotics</button>
      <button class="music mmuuii" value="mmuuii" (click)="chback($event)">Music</button>



  </div>
  <div class="notifications">
    <div class="card aarrttc" *ngIf="one">
      <div class="close" (click)="close($event)">+</div>
      <a href="#" class="replay">Reply</a>
      <div class="row g-0">
        <div class="col-3">
          <img src="./assets/img/unsplash_ILip77SbmOE.png" class="img-fluid rounded-start" alt="team member">
        </div>
        <div class="col-9">
          <div class="card-body">
            <h6>Wednesday 18th, 2022</h6>
            <h5 class="card-title">Azza Khair Elseed</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet.</p>

          </div>
        </div>
      </div>
    </div>

    <div class="card rroobbc" *ngIf="two">
      <div class="close" (click)="close($event)">+</div>
      <a href="#" class="replay">Reply</a>
      <div class="row g-0">
        <div class="col-3">
          <img src="./assets/img/unsplash_ILip77SbmOE.png" class="img-fluid rounded-start" alt="team member">
        </div>
        <div class="col-9">
          <div class="card-body">
            <h6>Wednesday 18th, 2022</h6>
            <h5 class="card-title">Azza Khair Elseed</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="card mmuuiic" *ngIf="three">
      <div class="close" (click)="close($event)">+</div>
      <a href="#" class="replay">Reply</a>
      <div class="row g-0">
        <div class="col-3">
          <img src="./assets/img/unsplash_ILip77SbmOE.png" class="img-fluid rounded-start" alt="team member">
        </div>
        <div class="col-9">
          <div class="card-body">
            <h6>Wednesday 18th, 2022</h6>
            <h5 class="card-title">Azza Khair Elseed</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
